@model User

    <form asp-action="Index" asp-controller="Login" method="post">
        <input type="text" asp-for="UserName"/>
        <input type="text" asp-for="Password"/>
        <button type="submit">Giriş</button>
    </form>

