@{
    ViewData["Title"] = "Ornek Controller Index2, Action";
}

@* <h1>Ornek --> Index</h1>
<div class="justify-content-center">
    <h1 class="btn btn-danger">@ViewBag.GetDate</h1>
    <br />
</div>

<div class="justify-content-center">
    <ul class="list-group">
        @foreach (var name in ViewBag.Names)
        {
            <li class="list-ite">
                <a href="#" class="nav-link">@name</a>
            </li>
        }
    </ul>
</div> *@

<!--usttekı verıler gelmıcek dolayısıyla hata fırlatıcak alttakı de tam yoolayamıcak ama en alttakı temp data verıyı yollayabılıcek cunku controller arası verı transferı yapılıyor-->

<div class="justify-content-center">
    <span class="btn btn-primary">@ViewData["Hour"]</span>
</div>

<div class="justify-content-center">
    <span class="btn btn-secondary">@TempData["Day"]</span>
</div>
