
<form asp-action="Index4" asp-controller="Deneme" method="post">
    <input type="text" name="UrunId" />
    <input type="text" name="Marka" />
    <input type="text" name="Model" />
    <button type="submit">Gönder</button>
</form>