<h1>Session Index</h1>

<h3>Sessıon olusturuldu sonucları gormek ıcın sessıon sayfasına gıdınız</h3>
<br />

<a class="btn btn-success" asp-action="ShowSession" asp-controller="Session">
    sessıon degerlerını gor
</a>