@{
    ViewData["Title"] = "Index";
}

<h1>ılsetısım formu</h1>

<div style="margin-top:50px">
    <div>
        <form asp-action="Index" asp-controller="Mail" method="post">
            <div id="header">maıl gondermek ıcın formu doldurunuz</div>
            <div id=></div>
        </form>
    </div>
</div>