
<form action="/Home/Giris">
    <label>Email :</label>
    <input type="text" name="email" /> <!--name işi cok onemlı burda -->
    <br />
    <label>Sifre</label>
    <input type="text" name="password" />
    <input type="submit" value="Giriş" />
</form>
