
<form action="/Home/Ornek1">
    <input type="text" name="isim" />
    <input type="text" name="soyisim" />
    <input type="date" name="dogum" />
    <input type="radio" name="cinsiyet" value="erkek" />
    <input type="radio" name="cinsiyet" value="kadın"/>
    <select name="ogrenimdurumu">
        <option value="Lise">Lise</option>
        <option value="Uni">Uni</option>
    </select>
    <input type="checkbox" name="medenidurum" value="Evli"/>
    <input type="checkbox" name="medenidurum" value="Bekar"/>
</form>
