<h3>Person Ajax Sayfası</h3>

<a class="btn btn-warning" onclick="GetList()">Get People</a>
<a class="btn btn-success" onclick="GetCreatePage()">Create New</a>

<div id="error"></div>
<div id="list"></div>
<div id="create"></div>
<div id="update"></div>