@{
    ViewData["Title"] = "Cookie - Index";
}
<h1>Cookie Index</h1>
<h3>
    Cookie oluşturuldu... sonuçlrı görmek için cookie sayfasına gidiniz.
</h3>
<br />

<a class="btn btn-success" asp-action="ShowCookie" asp-controller="Cookie">
    Çerezleri Gör
</a>